# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# C-Lion
CMakeLists.txt
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/Shell-Project.iml
.idea/vcs.xml
.idea/workspace.xml
classic.c
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-938b0eb8dc09e2a6c013.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-772d661237cdce854ccc.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-18a6cb9f02baf06d2325.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-06-11T12-02-54-0537.json
cmake-build-debug/.cmake/api/v1/reply/target-Shell_Project-Debug-d472cadb0d5b0e36394d.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-1fed16cbaf9bc7b88c4a.json
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.22.3/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/.cmake/api/v1/reply/target-Shell_Project-Debug-fb64c982f54a9f3b681b.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-06-11T16-02-42-0025.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-59c183c0f278fc741a7d.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-10b610ac362c2524d354.json
